/* Container for the login form */
.login-container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Heading Style */
  .login-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  /* Input Fields Style */
  .login-container input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  /* Focus style for input fields */
  .login-container input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
  /* Button Style */
  .login-container button {
    width: 50%;
    padding: 12px;
    margin-top: 10px;
    background-color: #f3a333;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-container button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  /* Button Hover Effect */
  .login-container button:hover {
    background-color: #ca811a;
  }
  
  /* Error message style */
  .error {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  /* Paragraph Style for sign-up link */
  .login-container p {
    text-align: center;
    font-size: 14px;
    color: #555;
  }
  
  .login-container p a {
    color: #f3a333;
    text-decoration: none;
  }
  
  .login-container p a:hover {
    text-decoration: underline;
  }
  p a {
    color: #f3a333;
    text-decoration: none;
  }
  
  p a:hover {
    text-decoration: underline;
  }
  