/* Style du formulaire d'inscription */
.signup-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Style des titres */
  h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  /* Message de succès et d'erreur */
  .error, .success {
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
  }
  
  .error {
    background-color: #f8d7da;
    color: #721c24;
  }
  
  .success {
    background-color: #d4edda;
    color: #155724;
  }
  
  /* Style des champs de texte */
  input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  input:focus {
    border-color: #ca811a;
    outline: none;
  }

  .submit-button{
    background-color: #ca811a;

  }
  .submit-button:hover{
    background-color: #f3a333;

  }
  
  /* Style du bouton */
  Button {
    width: 50%;
    padding: 12px;
    background-color: #ca811a;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  Button:hover {
    background-color: #f3a333;
  }
  
  /* Style du lien */
  p {
    text-align: center;
    margin-top: 15px;
  }
  
  p a {
    color: #f3a333;
    text-decoration: none;
  }
  
  p a:hover {
    text-decoration: underline;
  }
  